<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ESERCIZI</title>
</head>
<body>
  <div class="text-center container">
    <div class="border-top border-black mt-5 ">
      <h1 class=" ">Hola</h1>
      <h2 class="text-warning">Sottotitolo</h2>

      <app-component1></app-component1>
      <app-component2></app-component2>
      <app-component3></app-component3>
    </div>
  </div>
</body>
</html>
