<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <h2>Register</h2>
      <form (ngSubmit)="register()">
        <div class="form-group">
          <label for="firstName">Nome</label>
          <input type="text" class="form-control" id="firstName" name="firstName" required [(ngModel)]="formData.firstName">
        </div>
        <div class="form-group">
          <label for="lastName">Cognome</label>
          <input type="text" class="form-control" id="lastName" name="lastName" required [(ngModel)]="formData.lastName">
        </div>
        <div class="form-group">
          <label for="username">Username</label>
          <input type="text" class="form-control" id="username" name="username" required [(ngModel)]="formData.username">
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" class="form-control" id="email" name="email" required [(ngModel)]="formData.email">
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" id="password" name="password" required [(ngModel)]="formData.password">
        </div>
        <button type="submit" class="btn btn-primary mt-2">Register</button>
      </form>
    </div>
  </div>
</div>
