<nav class="navbar bg-body-tertiary">
  <div class="d-flex ">
    <a class="navbar-brand" routerLink="/home">
      <img src="../logo/disney-and-pixar-cars-logo-png-transparent.png" alt="" width="30" height="24">
    </a>
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" routerLink="/ford">Ford</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/fiat">Fiat</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/audi">Audi</a>
      </li>
    </ul>
  </div>
</nav>
