$dark: #141414;
$primary: red;

@import '../node_modules/bootstrap/scss/bootstrap.scss';

.logo{
    width: 80px;
}

.logo2{
    width: 120px;
}

.link-top{
    font-size: 12px;
}

.img-p{
    width:32px
}

.iFooter{
    width: 200px;
}

.dropdown-item:hover{
    background-color: $primary;
}

//pagina profilo

.profiloimg{
    width: 120px;
}

.main-cont{
    width: 500px;
    margin: 0 auto;
    padding-left: 0;
    
}

hr{
   opacity: 10%;
}