<div class="container">
  <h1>To do list </h1>
  <div class="d-flex gap-3">
    <a class="link-offset-2-hover link-underline-opacity-0 link-dark fw-bold link-underline-opacity-75-hover" routerLink="/home">All</a>
    <a class="link-offset-2-hover link-underline-opacity-0 link-dark fw-bold link-underline-opacity-75-hover" routerLink="/complete">Complete</a>
    <a class="link-offset-2-hover link-underline-opacity-0 link-dark fw-bold link-underline-opacity-75-hover" routerLink="/uncomplete">Ucomplete</a>
  </div>
  <router-outlet></router-outlet>
</div>
