<h1>Cose</h1>
<div class="row gap-3">

  <div  *ngFor="let product of products" class="col-12 card" style="width: 18rem;">
    <div  class="card-body">
      <h5 class="card-title">{{ product.title }}</h5>
      <p class="card-text">{{ product.description }}</p>
      <h6 class="card-subtitle mb-2 text-body-secondary">Prezzo: {{ product.price }}</h6>
      <div class="d-flex text-center">
        <button class="card-link border p-1 text-decoration-none   rounded-pill">Aggiungi ai preferiti</button>
        <button class="card-link border p-1 text-decoration-none   rounded-pill">Aggiungi al carrello</button>
      </div>
    </div>
  </div>

</div>
